.slide img{
    height: 500px;
    z-index: 80;
    width: 60%;
    position: absolute;
    
}
.slide{
    display: grid;
    position: relative;
    justify-items: center;
}
.image{

}
.left, .right{
    border-radius: 50%;
    background: red;
    height: 30px;
    width: 30px;
    display: grid;
    position: relative;
    left: 100px;
}